@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --neutro: #f3f4f3;
    --degrade_old: -webkit-linear-gradient(180deg, #0b6b9f, #84a4b4);/* Chrome 10-25, Safari 5.1-6 */                          
    --degrade: linear-gradient(180deg, #f3f4f3,#84a4b4,#0b6b9f);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    --degradee: linear-gradient(180deg, #f3f4f3,#f3f4f3, #84a4b4, #84a4b4,#0b6b9f,#0b269f);
    --cor-texto-azul: #0b269f;
    --azul: #0b6b9f;
    --laranja: #f27c1b;
    --marrom: #6c644c;
    --cinza: #84a4b4;
    --fonte-logo: "FortuneCity";
    --fonte-titulo: "Suse";
    --fonte-texto: "Montserrat";
}

@font-face {
    font-family: 'FortuneCity';
    src: url(fonts/FortuneCity.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;

    background: var(--degradee) no-repeat;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cabecalho__container img {
    width: 100px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px black;
}

h1 {
    font-family: 'FortuneCity';
    font-size: 58px;
    color: var(--laranja);
    text-shadow: 2px 2px 4px black;
}

strong{
    font-size: 80px;
    -webkit-text-stroke: .001em;
    -webkit-text-stroke-color: var(--neutro);
}

h2 {
    font-family: var(--fonte-titulo);
}

p {
    font-family: var(--fonte-texto);
    font-size: 18px;
    color: var(--azul);
}






nav {
    background: var(--degrade_old) no-repeat; /* Cor verde, pode ajustar conforme necessário */
    padding: 10px 20px;


}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 60px;
}

/* .navbar li {
    margin: 0 15px;
} */

.navbar a {
    font-family: 'Numans';
    text-decoration: none;
    color: var(--neutro);
    font-weight: bold;
    font-size: 15px;
    transition: color 0.3s, border-bottom 0.3s;
}

.navbar a:hover,
.navbar a:focus {
    color: var(--cinza); /* Cor amarela para o efeito hover, pode ajustar conforme necessário */
    -webkit-text-stroke: .00001px;
    -webkit-text-stroke-color: var(--neutro);
}

/* Estilos adicionais para a barra de navegação */
nav {
    border-bottom: 1px solid #ddd; /* Linha sutil para separar o menu do conteúdo */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .navbar li {
        margin: 10px 0;
    }
}