<<<<<<< HEAD
/* Importações de Fonts */
    @import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');
    @font-face {
        font-family: 'FortuneCity';
        src: url(fonts/FortuneCity.ttf);
        font-weight: normal;
        font-style: normal;
    }

    /* Importações de JS */
    /* @import url(../js/swiper.js); */

/* Estilização geral */
    * {
        margin: 0;
        padding: 0;
    }
    /* Criação de variáveis globais de cores e fontes */
    :root {
        --neutro: #f3f4f3;
        --degrade_old: -webkit-linear-gradient(180deg, #0b6b9f, #84a4b4);
        /* Chrome 10-25, Safari 5.1-6 */
        --degrade: linear-gradient(180deg, #f3f4f3, #84a4b4, #0b6b9f);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        --degradee: linear-gradient(180deg, #f3f4f3, #f3f4f3, #84a4b4, #0b269f);
        --cor-texto-azul: #0b269f;
        --azul: #0b6b9f;
        --laranja: #f27c1b;
        --marrom: #6c644c;
        --cinza: #84a4b4;
        --fonte-logo: "FortuneCity";
        --fonte-titulo: "Suse";
        --fonte-texto: "Montserrat";
    }

    /* Estilização do background do site */
        body {
            height: 100vh;
            background: var(--degradee) no-repeat;
            background-attachment: fixed;
        }

            /* Estilização do Cabeçalho */
                header {
                    background: #fff;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 1;
                    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
                }

                /* Estilização da Logo Marca */
                    .cabecalho_x {
                        display: flex;
                        background: var(--neutro);
                        border-bottom: 1px solid #ddd;
                    }

                    h1 {
                        font-family: 'FortuneCity';
                        font-size: 4em;
                        color: var(--laranja);
                        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.603);
                        -webkit-text-stroke: .001em;
                        -webkit-text-stroke-color: var(--neutro);
                    }

                    .cabecalho__container_x {
                        padding: 0 2em;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 30%;
                    }

                    .cabecalho__container__nome_clinica {
                        position: relative;
                        display: flex;
                        padding: 0 0 0 2px;
                    }

                    .cabecalho__container__passaro {
                        position: absolute;
                        width: 10%;
                        top: 21%;
                        left: 46%;
                        opacity: 100%;
                    }

                    .cabecalho__container__img_x {
                        height: 55px;
                        margin: 8px 0 0 3px;
                        filter: drop-shadow(2px 2px 3px black);
                    }

                /* Estilização do Menu */
                    h2 {
                        font-family: var(--fonte-titulo);
                        color: var(--laranja);
                        text-shadow: 1px 1px 1px #6c644c;
                        text-align: center;
                        font-size: 38px;
                    }

                    nav {
                        display: flex;
                        width: 100%;
                        align-items: center;
                    }

                    nav ul {
                        align-items: center;
                    }

                    .navbar_x {
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        gap: 60px;
                        height: 100%;
                    }

                    .navbar_x li {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }

                    .navbar_x li.item_menu:hover {
                        border-bottom: 3px solid #0b6b9f;
                    }

                    .navbar_x a {
                        font-family: 'Numans';
                        text-decoration: none;
                        color: var(--azul);
                        font-weight: bold;
                        font-size: 18px;
                        transition: color 0.3s, border-bottom 0.3s;
                    }

                    .navbar_x a:hover,
                    .navbar_x a:focus {
                        color: var(--cinza);

                    }

                    /* Estilização do ícone do whatsapp */
                        .navbar_x .whatsapp_container li {
                            width: 500px;
                            justify-content: end;
                        }

                        .whatsapp {
                            width: 30px;
                        }

            /* Estilização do corpo das páginas */
                main {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1px;
                    margin-top: 90px;
                }

                p {
                    font-family: var(--fonte-texto);
                    font-size: 18px;
                    color: var(--azul);
                    text-align: justify;
                }

                .conteudo_container {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 36px;
                    margin: 50px;
                    position: relative;
                }

            /* Estilização do conteúdo da página HOME */
                .carrossel {
                    max-width: fit-content;
                    min-width: fit-content;
                    display: flex;
                }

                .carrossel__container{
                    
                }
                .carrossel__titulo{
                    font-size: 38px;
                    text-transform: uppercase;
                }

                h3 {
                    font-family: var(--fonte-titulo);
                    color: var(--laranja);
                    text-shadow: 1px 1px 1px #6c644c;
                    text-align: center;
                    font-size: 1.5rem;
                }
                
                .swiper-wrapper {
                    margin: 0 1rem;
                    display: flex;

                }
                
                .swiper-paginacao {
                    position: initial;
                    text-align: center;
                    margin: 1rem 0;
                }
                
                .swiper-button-next,
                .swiper-button-prev {
                    display: block;
                }
                
                
                @media screen and (min-width:1024px) {
                
                    .carrossel__titulo {
                        font-size: 38px;
                        text-transform: uppercase;
                    }
                
                    .swiper-paginacao {
                        margin: 2rem 0 3rem;
                    }
                
                    .swiper {
                        width: 80%;
                    }
                
                    .swiper-button-next,
                    .swiper-button-prev {
                        display: block !important;
                        top: 65% !important;
                    }
                
                }
                
                
                @media screen and (min-width:1728px) {
                    .carrossel__titulo{
                        font-size: 2rem;
                        font-weight: 700;
                    }
                
                    .carrossel__desktop{
                        /* padding: 7rem 10rem; */
                        padding: 0 7vw 3rem 7vw;
                        display: flex;
                        align-items: center;
                    }
                
                    .swiper-paginacao {
                        margin: 1rem 0;
                    }
                
                
                }
 


=======
/* Importações de Fonts */
    @import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');
    @font-face {
        font-family: 'FortuneCity';
        src: url(fonts/FortuneCity.ttf);
        font-weight: normal;
        font-style: normal;
    }

    /* Importações de JS */
    /* @import url(../js/swiper.js); */

/* Estilização geral */
    * {
        margin: 0;
        padding: 0;
    }
    /* Criação de variáveis globais de cores e fontes */
    :root {
        --neutro: #f3f4f3;
        --degrade_old: -webkit-linear-gradient(180deg, #0b6b9f, #84a4b4);
        /* Chrome 10-25, Safari 5.1-6 */
        --degrade: linear-gradient(180deg, #f3f4f3, #84a4b4, #0b6b9f);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        --degradee: linear-gradient(180deg, #f3f4f3, #f3f4f3, #84a4b4, #0b269f);
        --cor-texto-azul: #0b269f;
        --azul: #0b6b9f;
        --laranja: #f27c1b;
        --marrom: #6c644c;
        --cinza: #84a4b4;
        --fonte-logo: "FortuneCity";
        --fonte-titulo: "Suse";
        --fonte-texto: "Montserrat";
    }

    /* Estilização do background do site */
        body {
            height: 100vh;
            background: var(--degradee) no-repeat;
            background-attachment: fixed;
        }

            /* Estilização do Cabeçalho */
                header {
                    background: #fff;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 1;
                    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
                }

                /* Estilização da Logo Marca */
                    .cabecalho_x {
                        display: flex;
                        background: var(--neutro);
                        border-bottom: 1px solid #ddd;
                    }

                    h1 {
                        font-family: 'FortuneCity';
                        font-size: 4em;
                        color: var(--laranja);
                        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.603);
                        -webkit-text-stroke: .001em;
                        -webkit-text-stroke-color: var(--neutro);
                    }

                    .cabecalho__container_x {
                        padding: 0 2em;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 30%;
                    }

                    .cabecalho__container__nome_clinica {
                        position: relative;
                        display: flex;
                        padding: 0 0 0 2px;
                    }

                    .cabecalho__container__passaro {
                        position: absolute;
                        width: 10%;
                        top: 21%;
                        left: 46%;
                        opacity: 100%;
                    }

                    .cabecalho__container__img_x {
                        height: 55px;
                        margin: 8px 0 0 3px;
                        filter: drop-shadow(2px 2px 3px black);
                    }

                /* Estilização do Menu */
                    h2 {
                        font-family: var(--fonte-titulo);
                        color: var(--laranja);
                        text-shadow: 1px 1px 1px #6c644c;
                        text-align: center;
                        font-size: 38px;
                    }

                    nav {
                        display: flex;
                        width: 100%;
                        align-items: center;
                    }

                    nav ul {
                        align-items: center;
                    }

                    .navbar_x {
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        gap: 60px;
                        height: 100%;
                    }

                    .navbar_x li {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }

                    .navbar_x li.item_menu:hover {
                        border-bottom: 3px solid #0b6b9f;
                    }

                    .navbar_x a {
                        font-family: 'Numans';
                        text-decoration: none;
                        color: var(--azul);
                        font-weight: bold;
                        font-size: 18px;
                        transition: color 0.3s, border-bottom 0.3s;
                    }

                    .navbar_x a:hover,
                    .navbar_x a:focus {
                        color: var(--cinza);

                    }

                    /* Estilização do ícone do whatsapp */
                        .navbar_x .whatsapp_container li {
                            width: 500px;
                            justify-content: end;
                        }

                        .whatsapp {
                            width: 30px;
                        }

            /* Estilização do corpo das páginas */
                main {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1px;
                    margin-top: 90px;
                }

                p {
                    font-family: var(--fonte-texto);
                    font-size: 18px;
                    color: var(--azul);
                    text-align: justify;
                }

                .conteudo_container {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 36px;
                    margin: 50px;
                    position: relative;
                }

            /* Estilização do conteúdo da página HOME */
                .carrossel {
                    max-width: fit-content;
                    min-width: fit-content;
                    display: flex;
                }

                .carrossel__container{
                    
                }
                .carrossel__titulo{
                    font-size: 38px;
                    text-transform: uppercase;
                }

                h3 {
                    font-family: var(--fonte-titulo);
                    color: var(--laranja);
                    text-shadow: 1px 1px 1px #6c644c;
                    text-align: center;
                    font-size: 1.5rem;
                }
                
                .swiper-wrapper {
                    margin: 0 1rem;
                    display: flex;

                }
                
                .swiper-paginacao {
                    position: initial;
                    text-align: center;
                    margin: 1rem 0;
                }
                
                .swiper-button-next,
                .swiper-button-prev {
                    display: block;
                }
                
                
                @media screen and (min-width:1024px) {
                
                    .carrossel__titulo {
                        font-size: 38px;
                        text-transform: uppercase;
                    }
                
                    .swiper-paginacao {
                        margin: 2rem 0 3rem;
                    }
                
                    .swiper {
                        width: 80%;
                    }
                
                    .swiper-button-next,
                    .swiper-button-prev {
                        display: block !important;
                        top: 65% !important;
                    }
                
                }
                
                
                @media screen and (min-width:1728px) {
                    .carrossel__titulo{
                        font-size: 2rem;
                        font-weight: 700;
                    }
                
                    .carrossel__desktop{
                        /* padding: 7rem 10rem; */
                        padding: 0 7vw 3rem 7vw;
                        display: flex;
                        align-items: center;
                    }
                
                    .swiper-paginacao {
                        margin: 1rem 0;
                    }
                
                
                }
 


>>>>>>> b7b12c81790f57bd3d3c80523a7c207f6b417904
